*{
    font-family: "Quicksand", sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.page{
    height: 65%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
   
}
.togglebtn{
    position: absolute;
    top: 10px;
    right: 30px;
}
.container{
    background-color: rgb(187, 120, 242);
    width: 80vmin;
    height: 45vmin;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
}
.options{
    font-weight: 500;
    font-size: 1.05rem;
}
option{
    font-weight: 500;
    font-size: 1.05rem;
}
.box{
    height: 70%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}
.determinateBox_4x4{
    margin-top: 25px;
    background-color: rgba(162, 218, 217, 0.861);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 225px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 3.5px;
    border-right: 3px solid black;
    border-left: 3px solid black;
    gap: 5px;
    
}
.determinateBox_3x3 {
    margin-top: 25px;
    background-color: rgba(162, 218, 217, 0.861);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 225px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 3.5px;
    border-right: 3px solid black;
    border-left: 3px solid black;
    gap: 5px;
}
.result{
    width: 80%;
    height: auto;
    border: 0 0 3px rgb(28, 123, 164);
}
input{
    max-width: 45px;
    height: 30px;     
}
select{
    background-color: #bbe4ea;
}
.output{
    border: none;
    width: 100px;
    height: 25px;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
}
.result{
  font-weight: 500;
}
  
  
  
  input::placeholder {
    color: #94a3b8;
  }
  
  input:focus, input:hover {
    outline: none;
    border-color: rgba(129, 140, 248);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
  }
.hide{
    opacity: 0;
    display: none;
}
.span{
    box-shadow: 0 0 3.5px rgb(51, 145, 217);
    font-size: 0.60rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: azure;
    color: #683FEA;
}
.output {
  --fancy-button-gradient-0: #8d49fd;
  --fancy-button-gradient-50: #7f56f3;
  --fancy-button-gradient-100: #5691f3;
  --fancy-button-inner-shadow-top: rgba(233, 209, 255, 0.2);
  --fancy-button-inner-shadow-top-lg: rgba(9, 12, 60, 0.1);
  --fancy-button-inner-shadow-bottom: rgba(137, 222, 246, 0.3);
  --fancy-button-shine-top: #e9d1ff;
  --fancy-button-shine-bottom: #adfff9;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  text-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  appearance: none;
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 1;
  border-radius: 25px;
  color: #fff;
  background-image: linear-gradient(to bottom, var(--fancy-button-gradient-0) 0%, var(--fancy-button-gradient-50) 50%, var(--fancy-button-gradient-100) 100%);
  box-shadow: 0px 4px 12px rgba(9, 12, 60, 0.15), 0px 2px 8px rgba(9, 12, 60, 0.15), 0px 1px 3px var(--fancy-button-inner-shadow-top-lg), inset 0px 1px 1px var(--fancy-button-inner-shadow-top), inset 0px -1px 3px var(--fancy-button-inner-shadow-bottom);
}

.output:before, .output:after {
  content: '';
  position: absolute;
  border-radius: inherit;
  will-change: transform;
}

.output:before {
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--fancy-button-shine-top);
  width: 96px;
  height: 6px;
  top: -3px;
  opacity: 0.6;
  filter: blur(6px);
  transition: opacity 0.25s;
}

.output:after {
  inset: 0;
  background-size: cover;
  z-index: 2;
  opacity: 0.3;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.output span {
  display: block;
  padding: 1px;
  border-radius: inherit;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(to bottom, var(--fancy-button-shine-top), transparent 8px);
  background-position: 0 -6px;
  background-repeat: no-repeat;
  z-index: 1;
}

.output span:before, .output span:after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: var(--fancy-button-shine-bottom);
  transition: opacity 0.25s, transform 0.25s;
  will-change: transform;
}

.output span:before {
  width: 92px;
  height: 8px;
  bottom: -4px;
  opacity: 0.75;
  filter: blur(6px);
}

.output span:after {
  width: 112px;
  height: 1px;
  bottom: 0;
  opacity: 0.9;
  filter: blur(1px);
}

.output:hover span:before {
  opacity: 0.8;
}

.output:hover span:before {
  transform: translateX(-50%) scale(1.25);
}

.output:hover span:after {
  opacity: 1;
}


/* Default */
/* The switch - the box around the slider */
.toggleswitch{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 18px;
  right: 25px;
  width: 50px;
  height: 40px;
}
.sunbtn svg{
  height: 27px;
  width: 27px;
}
.moonbtn{
  filter: drop-shadow(0 0 5px aqua);
  animation: Glow 1 alternate infinite;
}
@keyframes Glow{
  0%{
    filter:drop-shadow(0 0 2px aqua)
  }
  100%{
    filter:drop-shadow(0 0 9px aqua)
  }
}

  .lightb{
    background-color: rgb(255, 255, 255);
  }
  .darkb{
    background-color: #010617;
  }
@media (max-width: 500px){
    h1{
        font-size: 1.75rem;
        margin-left: 8px;
        margin-right: 8px;
    }
    .container{
        height: 70vmin;;
    }
    .determinateBox_4x4{
        max-width: 200px;
    }
    .determinateBox_3x3{
        max-width: 180px;
    }
    input{
        max-width: 30px;
        height: 25px;
        text-decoration: none;
        border-right: none;
        border-left: none;
        border-top: none;
    }
    input::placeholder{
        font-size: 0.75rem;
    }
}
